*.iml
.kotlin
.gradle
**/build/
xcuserdata
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
local.properties

# Keep your Xcode project
!*.xcodeproj/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
